/* Header style BEGINS*/
.page2-header{
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
}

.page2-header h2{
    margin-left: 10px;
}

/*Header style ENDS */

/* Footer style BEGINS */
.page2-footer{
    bottom: 0;
    position: fixed;
    margin: 20px;
}

.page2-footer button{
    background-color: white;
    border-radius: 10px;
    padding: 12px 24px;
    border: 1px solid black;
    font-size: large;
    cursor: pointer;
    transition: 0.3s;
}

.page2-footer button:hover{
    background-color: lightgrey;
}

/* Footer style ENDS */

/* Content Style BEGINS*/

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: relative;
    margin-bottom: 20px;
}

.content-details{
    max-width: 800px;
}

.content-text{
    text-align: left;
}

/* Tweet custom widget */
.tweet{
    display: flex;
    justify-content: center;
}

.source-span{
    margin-top: 50px;
    color: grey;
}

.source-span a{
    color: black;
}

/* Responsive code */

@media only screen and (max-width: 1200px){
    .page2-header{
        display: flex;
        justify-content: flex-start;
        position: static;
        top: 0;
    }

    .page2-footer{
        bottom: 0;
        position: static;
        margin: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .post-heading{
        width: 400px;
    }

    .post-thumbnail{
        width: 400px;
    }

    .content-details{
        width: 400px;
    }
}